/.cache/
/.pytest_cache/
/build/
/dist/
/*.egg-info/
/labelme/ai/seg_model/*
/labelme/build/
/labelme/dist/
/labelme/__main__.spec
!/labelme/ai/seg_model/__init__.py
!/labelme/ai/seg_model/vocab.txt
*.py[cdo]

.DS_Store
.idea/
